@import 'assets';

.top-logo-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.top-logo {
    width: 250px;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    height: auto;
    background: $blue;
    position: relative;
    height: 4em;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: center;
}
.navbar2 {
    display: none;
}
.nav-link-holder {
    text-decoration: none;
    list-style-type: none;
    width: 100%;
}

.nav-link {
    text-decoration: none;
    font-family: $sans;
    color: $white;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.5em;
    position: relative;
    text-align: center;
}

.dropbtn {
    text-decoration: none;
    font-family: $sans;
    color: $white;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.5em;
    position: relative;
}

.dropdown-content {
    display: none;
}

.dropdown {
    display: flex;
    flex-flow: column;
    height: auto;
}
.dropdown-link {
    background: $darkBlue;
    color: $white;
    font-family: $sans;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 50px 20px 15px;
    margin: 0;
    margin-top: -10px;
    width: 101%;
}

small {
    font-family: $sansC;
    font-weight: 900;
}

.nav-link-holder:hover {
    background: $darkBlue;
    .dropdown-content {
        display: flex;
        flex-flow: column;
        padding: 0;
        margin: 0;
        top: 0;
    }
}
.dropdown-link:hover {
    color: $blue;
}

@media only screen and (max-width: 900px) {
    .nav-link {
        font-size: 1.05em;
    }
}

@media only screen and (max-width: 750px) {
    .navbar {
        display: none;
    }
    .navbar2 {
        display: flex;
        flex-flow: column;
        background: $blue;
        height: auto;
        width: 100%;
    }
    .toggle-menu-holder {
        width: 90%;
        margin: 1em auto;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        justify-items: space-between;
    }
    .nav-toggle-menu {
        font-family: $sans;
        color: $white;
        font-size: 20px;
        font-weight: 400;
        line-height: 2em;
        // position: absolute; 
        // left: 50px;
        // top: 1em;
        list-style-type: none;
    }
    .nav-toggle-icon {
        list-style-type: none;
        color: $white;
        // position: absolute;
        // right: 50px;
        // top: 1em;
        font-size: 20px;
        line-height: 2em;
    }
    .main-nav2 {
        display: flex; 
        flex-flow: column;
    }
    .dropdown-content {
        width: auto;
        margin: 0 auto;
    }
    .dropdown-link {
        text-align: center;
        padding: 20px 0;
        width: 100%;
    }
    .nav-link-holder {
        width: 90%;
        margin: 0 auto;
    }
}